{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez KZ-Formation !{% endblock %}

{% block body %}
<div class="home-wrapper">
    <h1>Bienvenue chez KZ-Formation !</h1>

    <p>Lorem ipsum dolor sit amet consectetur.
        Neque risus vel imperdiet massa at. Tellus
        sagittis cras vitae et sagittis neque ultrices
        adipiscing feugiat. Ante neque est morbi urna
        sed blandit sapien volutpat tincidunt
    </p>

    <div class="home-authentification">
        <h2>Veuillez vous connecter pour accéder à vos Sessions</h2>
        
        <div class="authentification-buttons">
            <button><a href="{{ path('app_register') }}">Inscription</a></button>
            <button><a href="{{ path('app_login') }}">Connexion</a></button>
        </div>
        

    </div>

</div>
{% endblock %}
