{% extends 'base.html.twig' %} {# Héritage de la view de base #}

{% block title %}Programmer ou déprogrammer une matière à une session{% endblock %}

{% block body %}

    <h1>Programmer ou déprogrammer une matière à une session</h1>

    {{ form_start(formEditProgrammesSession) }}
        {{ form_row(formEditProgrammesSession.programmes)}}
    {{ form_end(formEditProgrammesSession) }}

{% endblock %}